input {
    padding: 8px;
    margin-right: 10px;
    width: 200px;
    /* color: rgb(251, 251, 251); */
    /* Text color for inputs */
    background-color: white;
    /* Background color for inputs */
    border: 1px solid #ccc;
}