/* Navbar.css */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    /* Change to white */
    color: black;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand-logo {
    display: flex;
    align-items: center;
}

.app-title {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 15px;
}

.logout-btn {
    padding: 8px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d32f2f;
}